<h6 class="top-text">{{(subRedditToDisplay | async)?.organization}}</h6>

<div class="row">

  <div class="col-lg-9">
    <div class="card wholecard" *ngFor="let subRedditToDisplay of (subRedditToDisplay | async)?.posts">
      {{subRedditToDisplay.title}}<br>
      {{subRedditToDisplay.body}}<br>
      Reward Level: {{subRedditToDisplay.rewardLock}}<br>
      Timestamp: {{subRedditToDisplay.timePosted}}<br>
    </div>

  </div>
  <div class="col-lg-3">
    <h4>{{(subRedditToDisplay | async)?.project}}</h4>
    <p>{{(subRedditToDisplay | async)?.description}}</p><br>
    <!-- <b>Low Reward</b>
    <ul>
      <li>Value: {{(subRedditToDisplay | async)?.rewards.low.value | currency}}</li>
      <li>Description: {{(subRedditToDisplay | async)?.rewards.low.description}}</li>
    </ul>
    <b>Medium Reward</b>
    <ul>
      <li>Value: {{(subRedditToDisplay | async)?.rewards.medium.value | currency}}</li>
      <li>Description: {{(subRedditToDisplay | async)?.rewards.medium.description}}</li>
    </ul>
    <b>High Reward</b>
    <ul>
      <li>Value: {{(subRedditToDisplay | async)?.rewards.high.value | currency}}</li>
      <li>Description: {{(subRedditToDisplay | async)?.rewards.high.description}}</li>
    </ul> -->
  </div>
</div>
